header{
  display: flex;
  justify-content: space-between;
  height: 2em;
  background-color: #F2F2F2;
  padding: 10px; 

}


input{
  padding: 6px; 
  border: 2px solid #383838;
  border-radius: 4px;
  margin-right: .5em;
  width: 500px;
}

.shareQuoteBtn{
  background-color: #066163;
  color: white; 
  border: solid 2px #383838;
  padding: 7px;
}