<header>
  <div class="logo">
      <em style="font-weight:800"><span style="font-weight:400">POP</span>QUOTES</em>
  </div>

  <div class="search-box">
      <input type="text" placeholder="Search : author / quote phrase">
      <button><i class="fa-solid fa-magnifying-glass"></i> Search Quote</button>
  </div>

  <div class="submit-quote">
      <button class="shareQuoteBtn" (click)="shareQuote()"><i class="fa-solid fa-quote-left"></i> Share New Quote</button>
  </div>

</header>

<!--Change this letter to show on the app.component.html
    Temporary hack as your understanding grows 
-->

<app-share-quote-section *ngIf="shareQuoteState"></app-share-quote-section>