
<app-header></app-header>

<div class="main">
    <br><br><br>
    <div class="filters">
        <div class="latest"><button class="filterBtn activeFilter">Latest</button></div>
        <div class="latest"><button class="filterBtn">Popular</button></div>
        <div class="latest"><button class="filterBtn">Random</button></div>
        <div class="latest"><button class="filterBtn">Disliked</button></div>
        
    </div>

    <app-users-quotes></app-users-quotes>

</div>

<script src="./script.js"></script>
