
<app-header></app-header>

<section class="share-quote-input">

    <h2>Share Your Favorite Quotes With The World</h2>
    <label for="quoteInput">Quote</label><br>
    <input type="text" placeholder="enter your quote here" id="quoteInput"><br>
    <label for="quoteAuthorInput">Author</label><br>
    <input type="text" id="quoteAuthorInput"><br>
    <button>Share Quote</button>

</section>

<div class="filters">
    <div class="latest"><button class="filterBtn">Popular</button></div>
    <div class="latest"><button class="filterBtn">Disliked</button></div>
    <div class="latest"><button class="filterBtn">Random</button></div>
    <div class="latest"><button class="filterBtn">Latest</button></div>
</div>

<section class="user-quotes">

    <div class="vote">
        <button class="like-btn">Inspiring</button>
        <button class="dislike-btn">Terrible</button>
    </div>

    <div class="quote">
        <blockquote>"quote goes here"</blockquote>
        
        <div class="stats">
            
            <button class="moreDetailsBtn">More</button>
            <small>- author name goes here </small>
            <p>Shared: <span class="published"></span></p>
            
            <div class="votes">
                <p>Likes: <span class="votelikes"></span></p>
                <p>Dislikes: <span class="voteDislikes"></span></p>
                
            </div>
        </div> <!-- quote stats and details -->        
                    
    </div> <!-- quote -->

</section>
<script src="./script.js"></script>
