<section class="user-quotes">
 
  <div class="quote">
      <ul>
        <li><blockquote> {{quote.quoteTxt}}</blockquote></li>
        <li><button class="moreDetailsBtn">about</button></li>
        <li>
          <div class="stats">         
            <div class="publishing">
              <ul class="quoteUl">
                <li class="quoteStat"><span>-{{quote.author}} </span></li>
                <li class="quoteStat">Shared: <span class="published">{{quote.publishDate}}</span></li>
              </ul> 
    
            </div>              
                      
            <div class="votes">
              <ul class="quoteUl">
                <li class="quoteStat">Likes: <span class="votelikes">{{quote.likes}}</span></li>
                <li class="quoteStat">Dislikes: <span class="voteDislikes">{{quote.dislikes}}</span></li>
              </ul>              
            </div>
    
          </div> <!-- quote stats and details -->  

        </li>
      </ul>
                  
                  
  </div> <!-- quote -->

  <div class="vote">
    <button class="feedback-btn like-btn"> <i class="fa-solid fa-thumbs-up"></i> Inspiring</button>
    <button class="feedback-btn dislike-btn"><i class="fa-solid fa-thumbs-down"></i> Terrible</button>
  </div>

</section>