blockquote{
  padding-top: .5em;
  font-size: 1.5em;
}

.publishing{
  width: 400px;
}

.quoteStat{
  padding-bottom: 2px; 
  padding-top: 2px;
}

.feedback-btn{
  width: 80px;
}

.moreDetailsBtn{
  margin-top: -.5em;
  border: none; 
  background-color: white; 
}

.stats{
  margin-left: 100px; 
}