.quote{
  /* background-color: pink; */
  width:60%;
  padding-bottom: 2em;
  
}

section{
  margin: 0 auto;
  text-align: left;
}

.divider{
  width: 60%;
  clear:both;
  margin: 0 auto;
  border-bottom: 1px solid #CDBE78;
}

.vote {  
  width: 20%; 
  /* background-color: dodgerblue; */
  padding-top: 4.5em;
  
}

.stats{ display: flex; }

.user-quotes{ display: flex; }

ul.quoteUl li{ 
  display: inline; 
  margin-right: 2em;
  padding-left: 0; 
}

ul.quoteUl{ 
  width: 250px;
  padding-left: 0; 
  text-align: left;

}

ul{ margin-left: 0 !important; }

ul li{ list-style: none; }

button{

  display: block;
  margin-bottom:.5em; 
}

blockquote{

  font-family: 'Italianno', cursive;
  color: #383838;  
  font-size: 2.5em;
  padding-top: .5em;
  padding-left: 0; 
  margin-left: 0; 
  margin-bottom: .2em; 
  
}

.publishing{
  width: 400px;

}

.quoteStat{
  width: 250px;
  padding-bottom: 2px; 
  padding-top: 2px;

}

.feedback-btn{
  /* width: 80px; */

}

.moreDetailsBtn{
  /* margin-left:2.5em; */
  margin-top: -.1em;
  border: none; 
  background-color: white; 
  color: #383838;
  margin-left: 0; 
  padding-left: 0; 
  text-align: left;

}

.voteLikes{
  color: #066163;

}
.voteDislikes{
  color: #383838; 

}

.author{
  color: #7E7474;
}