.vote {  
  width: 100px; 
  float: left;
}


.stats{
  display: inline-flex;
}

ul {
  padding-left: 0; 
}

ul li{
  list-style: none; 
}

button{
  display: block;
  margin-bottom:.5em;
 
}

blockquote{
  font-family: 'Italianno', cursive;
  font-size: 1.6em;
  padding-top: .5em;
  
}

.publishing{
  width: 400px;
}

.quoteStat{
  padding-bottom: 2px; 
  padding-top: 2px;
}

.feedback-btn{
  width: 80px;
}

.moreDetailsBtn{
  margin-top: -.5em;
  border: none; 
  background-color: white; 
}

.stats{
  margin-left: 100px; 
}