/* You can add global styles to this file, and also import other style files */
.main{
  width: 70vw;
  margin: 0 auto; 
  /* background-color: dodgerblue; */
}


button:hover, label:hover { cursor: pointer; }

.filters{

  display: inline-flex;
  justify-content: space-between;
}

.filterBtn{
  border: none; 
  padding: 5px 10px; 
  margin: 1em;
}
